@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

body{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    background-color: skyblue;
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(97, 97, 97);
    letter-spacing: 1px;
}

#judul {
    width: 100%;
    margin:auto;
    padding: auto;
    padding-bottom: 20px;
}

#container{
    width: 360px;
    background-color: white;
    margin: 180px auto;
    padding: 30px 20px;
    border-radius: 6px;
}

input{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: .5s;
    transition: 0.5s;
    outline: none;
    background-size: 30px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding-left: 40px;
    border-radius: 5px;
}

input[type="submit"]{
    font-size: 15px;
    background-color: #009973;
    color: white;
    border: white 3px solid;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    margin-top: 10px;
}